# If changing MY_SQL_USERNAME, please update matching privileges in init.sql
MY_SQL_USERNAME=petistaan_user
MY_SQL_PASSWORD=petistaan_pass
SYSTEM_EMAIL_ID=abhi@gmail.com
SYSTEM_EMAIL_PASSWORD=abhi123
MY_SQL_ROOT_PASSWORD=root_pass
